body{
	background: #fff;
}
a{
	color: #cc0000;
}
a:visited{
	color: #666;
}
dl.entryList dd .asideBlock, #single-post .asideBlock 
{
	color: #666;
}
#nav a{
	color: #000;
}
.navitem .cat{
	color: #cc0000;
}

#content{
	__background: #fff;

}