/* WooThemes Switcher */

* {
	margin: 0;
	padding: 0;
}

a { 
	color:#1f517a;
	text-decoration:underline;
}

a:hover { 
	text-decoration:none;
}

option {
	padding-left: 0.4em;
}
	
fieldset,
img {
	border:0;
}

/* layout */
body {
	background: #cccccc url(bg.gif) 0 0 repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}

#wrapper {
	width: 960px;
	margin: auto;
	overflow: hidden;
}

#logo {
	width: 89px;
	height: 30px;
	float: left;
	margin-right:20px;
}

#join {
	float: left;
	padding:10px;
}

#join span.ico-join {
	background:url(ico-join.png) no-repeat;
	width: 23px;
	height: 20px;
	padding: 0px 0px 0px 20px;
	margin-right:10px;
}

#join span.ico-trolley {
	background:url(trolley.gif) no-repeat;
	width: 14px;
	height: 13px;
	padding: 0px 0px 0px 20px;
}

#theme {
	width: 210px;
	height: 47px;
	padding: 6px 0px 0px 20px;
	float: right;
}

#style {
	height: 47px;
	float: right;
	width: 210px;
	padding: 6px 0px 0px 20px;
}

#signup {
	width: 130px;
	height: 50px;
	padding: 0px 0px 0px 20px;
	float: left;
}

select#themelinks, select#stylelinks {
	width: 150px;
	float:left;
}

label {
	width:50px;
	float:left;
	padding:4px 10px 0 0;
	text-align:right;
	color:#555555;
}
